<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>template dome</title>
    <script src="js/template.js"></script>
    <script src="js/data.js"></script>
    <style>
		body{
			background-color: #ccc;
		}
		.wrap{
			width: 1000px;
			margin-left: auto;
			margin-right: auto;
			background-color: #fff;
			padding: 30px;
			box-shadow: 0 0 5px #aaa;
		}
		span{
			color: #c78d0a;
			padding: 10px;
		}
		table{
			width: 100%;
			border-collapse: collapse;
			border:1px solid #ccc;
		}
		td{
			padding: 10px;
			border: 1px solid #ddd;
		}
    </style>
    <script>
        window.onload = function() {
            var templateText = document.getElementById('template').innerHTML;
            var box = document.getElementById('box');
            var template = new Template({
                template: templateText,
                data: {
					listGroup: data		//listGroup为自定义命名空间，data为数据json
				},
                handlers: {},
				//表达式中依赖方法的集合，也可在调用init前调用addHandlersMethod方法来
				//		增加方法，也可直接在new之前调用Template的静态方法addHandlersMethod函数
				//		来增加方法，所有方法默认第一个参数都为表达式的value值，支持链式调用如：
				//		@data.name->dataFormat:[yyyy-MM-dd]->wrap:[<i>@content</>]
				//
				//支持的表达式示例：
				//@data
				//@data.name
				//@data.time->dateFormat
				//@data.time->dateFormat:[yyyy-MM-dd]
				//@data.time->dateFormat:[@date.registerTime,yyyy-MM-dd]
				//@data.time->dateFormat:[@date.registerTime,yyyy-MM-dd]->toString
				//(3 + 5) * 3
				//(3 + 5) * @data.number
				//1 + (@data.number + 5)->format * @data.number
				//
				//支持for循环
				//		<@for 表达式></@for>
				//支持if判断
				//		<@if 表达式></@if>
				//支持log，方便调试
				//		<@log 表达式></@log>
				//
				//总结如下：
				//	运算符用空格隔开，支持四则运算，取模，和逻辑运算
				//	每个运算单元都可用@取当前作用域json对象的值
				//	函数参数也可用@取值，但不支持运算，参数之间用逗号隔开
				//	鉴于昨天晚上我上传上来，兄弟们要求提供源码，所以这次提供的为未压缩版本
				//	如还有不明白的地方，可联系QQ：464328895 畫筆
				//	很期待兄弟们能提一些意见或建议
				//
                dataEmptyHandler: false,//是否把undefined, null 处理为空字符串
                callback: function(result) {
                    console.log(result);
					//这里也会把结果输出出来
                }
            });
            box.innerHTML = template.init();
        };
    </script>
</head>

<body>
    <script type="text/template" id="template">
		<h1>template dome</h1>
		<h2 style="color: red;">具体模板语法，请参照以下内容</h2>
		<h2 style="color: #c78d0a;">这个颜色的东东是运算后的结果</h2>
		<h3>这是一个<span>{{@listGroup.type}}</span></h3>
		<p>其中用户一个有<span>{{@listGroup.userList->getLength}}</span>位</p>
    	<p>他们分别是</p>
    	<table>
			<tr>
				<td>姓名</td>
				<td>年龄</td>
				<td>工作</td>
				<td>type</td>
			</tr>
			<@for variable[value] in @listGroup.userList>
				<tr>
					<td><span>{{@variable.value.name}}</span></td>
					<td><span>{{@variable.value.age}}</span></td>
					<td><span>{{@variable.value.job}}</span></td>
					<td><span>{{@listGroup.type}}</span></td>
				</tr>
			</@for>
    	</table>
    	<p>其中年龄大于30岁的有</p>
    	<table>
			<tr>
				<td>姓名</td>
				<td>年龄</td>
				<td>工作</td>
			</tr>
			<@for obj[person] in @listGroup.userList>
				<@if @obj.person.age > 30>
					<tr>
						<td><span>{{@obj.person.name}}</span></td>
						<td><span>{{@obj.person.age}}</span></td>
						<td><span>{{@obj.person.job}}</span></td>
					</tr>
				</@if>
			</@for>
    	</table>
    	<p>当然，还可以给表格加上序号</p>
		<table>
			<tr>
				<td>序号</td>
				<td>姓名</td>
				<td>年龄</td>
				<td>工作</td>
			</tr>
			<@for variable[value,index] in @listGroup.userList>
				<tr>
					<td><span>{{@variable.index}}</span></td>
					<td><span>{{@variable.value.name}}</span></td>
					<td><span>{{@variable.value.age}}</span></td>
					<td><span>{{@variable.value.job}}</span></td>
				</tr>
			</@for>
    	</table>
    	<p>什么？序号不能从0开始，好吧，难不倒我</p>
		<table>
			<tr>
				<td>序号</td>
				<td>姓名</td>
				<td>年龄</td>
				<td>工作</td>
			</tr>
			<@for variable[value,index] in @listGroup.userList>
				<tr>
					<td><span>{{@variable.index + 1}}</span></td>
					<td><span>{{@variable.value.name}}</span></td>
					<td><span>{{@variable.value.age}}</span></td>
					<td><span>{{@variable.value.job}}</span></td>
				</tr>
			</@for>
    	</table>
    	<p>想看看这里面有没有不男不女的人</p>
		<table>
			<tr>
				<td>姓名</td>
				<td>年龄</td>
				<td>工作</td>
			</tr>
			<@for variable[value] in @listGroup.userList>
				<@log @variable></@log>
				<@if !@variable.value.sex>
					<tr>
						<td><span>{{@variable.value.name}}</span></td>
						<td><span>{{@variable.value.age}}</span></td>
						<td><span>{{@variable.value.job}}</span></td>
					</tr>
				</@if>
			</@for>
    	</table>
    	<p>我还想看看这些人家的亲戚</p>
		<table>
			<tr>
				<td>姓名</td>
				<td>年龄</td>
				<td>工作</td>
				<td>亲戚</td>
				<td>注册时间</td>
			</tr>
			<@for variable[value] in @listGroup.userList>
				<tr>
					<td><span>{{@variable.value.name}}</span></td>
					<td><span>{{@variable.value.age}}</span></td>
					<td><span>{{@variable.value.job}}</span></td>
					<td>
						<@for child[value,index] in @variable.value.relatives>
							<div>关系：<span>{{@child.index}}</span>名字是什么呢：<span>{{@child.value}}</span></div>
						</@for>
					</td>
				</tr>
			</@for>
    	</table>
    	<p>我比较喜欢妹子，想看看她们的注册时间，当然，我只会给你提供一个时间戳，你要给我格式化好</p>
		<table>
			<tr>
				<td>姓名</td>
				<td>年龄</td>
				<td>性别</td>
				<td>工作</td>
				<td>亲戚</td>
			</tr>
			<@for variable[value] in @listGroup.userList>
				<@if @variable.value.sex === 女>
					<tr>
						<td><span>{{@variable.value.name}}</span></td>
						<td><span>{{@variable.value.age}}</span></td>
						<td><span>{{@variable.value.sex}}</span></td>
						<td><span>{{@variable.value.job}}</span></td>
						<td><span>{{@variable.value.registerTime->dateFormat}}</span></td>
					</tr>
				</@if>
			</@for>
    	</table>
    	<p>注册时间能不能只要年月，不要日？</p>
		<table>
			<tr>
				<td>姓名</td>
				<td>年龄</td>
				<td>性别</td>
				<td>工作</td>
				<td>亲戚</td>
			</tr>
			<@for variable[value] in @listGroup.userList>
				<@if @variable.value.sex === 女>
					<tr>
						<td><span>{{@variable.value.name}}</span></td>
						<td><span>{{@variable.value.age}}</span></td>
						<td><span>{{@variable.value.sex}}</span></td>
						<td><span>{{@variable.value.job}}</span></td>
						<td><span>{{@variable.value.registerTime->dateFormat:[yyyy-MM]}}</span></td>
					</tr>
				</@if>
			</@for>
    	</table>
    </script>
    <div class="wrap">
        <div id="box">
        </div>
    </div>
    <script>
	</script>
</body>

</html>
