<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="seajs/seajs.js"></script>
    <script>
        seajs.domReady(function() {
            seajs.use('./classes/main', function(obj) {
                obj(document.getElementById('text').innerHTML)
            });
        })
    </script>
</head>

<body>
   <div id="box"></div>
    <script id="text" type="text/template">
	<div class="header-bar container-fluid" tag=div abc></div>
    </script>
</body>

</html>
