<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="js/template.js"></script>
    <script>
        var isType = (function() {
            function isType(type) {
                return function(obj) {
                    return {}.toString.call(obj) == "[object " + type + "]"
                }
            }
            return {
                isObject: isType("Object"),
                isString: isType("String"),
                isArray: Array.isArray || isType("Array"),
                isFunction: isType("Function"),
                isUndefined: isType("Undefined")
            }
        })();

        function copy(obj) {
            var newObj;
            if (isType.isArray(obj)) {
                newObj = [];
                for (var i = 0; i < obj.length; i++) {
                    if (isType.isArray(obj[i]) || isType.isObject(obj[i])) {
                        newObj.push(copy(obj[i]))
                    } else {
                        newObj.push(obj[i]);
                    }
                }
            } else if (isType.isObject(obj)) {
                newObj = {};
                for (var i in obj) {
                    if (isType.isArray(obj[i]) || isType.isObject(obj[i])) {
                        newObj[i] = copy(obj[i]);
                    } else {
                        newObj[i] = obj[i];
                    }
                }
            }
            return newObj;
        }
    </script>
</head>

<body>
    <div>
        最终结果：
        <div id="box"></div>
    </div>



    <script id="temp" type="text/html">
        < div > {
            {
                (3 + 2) * 5 - 2
            }
        } < /div>
    </script>
</body>

</html>
