<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="main.js"></script>
    <script>
        var div = new HtmlBuilder('div', {
            className: 'aaa bbb'
        });
        console.log(div);
        window.onload = function() {
            XMLTreeBuilder(document.getElementById('text').innerHTML);
//			var a=document.getElementById('box');
//			console.dir(a);
//			console.log(console)
        }
    </script>
</head>

<body>
  <div id="box" a="b" class="boxes"></div>
   <script id="text" type="text/template">
   	<e_xp-a></e_xp-a>
    <exp fdsaa='5>8' if="a<b+'a'" >""  a<b</exp>
    <exp if="a>b"></exp>
    <h1>template dome</h1>
    <h2 style="color: red;">具体模板语法，请参照以下内容</h2>
    <h2 style="color: #c78d0a;">这个颜色的东东是运算后的结果</h2>
    <h3>这是一个<span>{{@listGroup.type}}</span></h3>
    <p>其中用户一个有<span>{{@listGroup.userList->getLength}}</span>位</p>
    <p>他们分别是</p>
    <table>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>工作</td>
            <td>type</td>
        </tr>
        <exp for='variable[value] in @listGroup.userList'>
            <tr>
                <td><span>{{@variable.value.name}}</span>
                </td>
                <td><span>{{@variable.value.age}}</span>
                </td>
                <td><span>{{@variable.value.job}}</span>
                </td>
                <td><span>{{@listGroup.type}}</span>
                </td>
            </tr>
        </exp>
    </table>
    <p>其中年龄大于30岁的有</p>
    <table>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>工作</td>
        </tr>
        <exp for='obj[person] in @listGroup.userList'>
            <exp if='@obj.person.age > 30'>
                <tr>
                    <td><span>{{@obj.person.name}}</span>
                    </td>
                    <td><span>{{@obj.person.age}}</span>
                    </td>
                    <td><span>{{@obj.person.job}}</span>
                    </td>
                </tr>
            </exp>
        </exp>
    </table>
    <p>让我们根据用户的年龄属性排个序吧</p>
    <table>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>性别</td>
            <td>工作</td>
        </tr>
        <exp sort='variable[valuekey] < age @listGroup.userList'>
            <exp for='child[value] in @variable.valuekey'>
                <tr>
                    <td><span>{{@child.value.name}}</span>
                    </td>
                    <td><span>{{@child.value.age}}</span>
                    </td>
                    <td><span>{{@child.value.sex}}</span>
                    </td>
                    <td><span>{{@child.value.job}}</span>
                    </td>
                </tr>
            </exp>
        </exp>
    </table>
    <p>当然也可以对数据进行排序</p>
    <exp sort='newArray[array] > @listGroup.arr'>
        <exp for='newArr[value,index] in @newArray.array'>
            <div>序号：<span>{{@newArr.index}}</span>值：<span>{{@newArr.value}}</span>
            </div>
        </exp>
    </exp>
    <p>当然，还可以给表格加上序号</p>
    <table>
        <tr>
            <td>序号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>工作</td>
        </tr>
        <exp for='variable[value,index] in @listGroup.userList'>
            <tr>
                <td><span>{{@variable.index}}</span>
                </td>
                <td><span>{{@variable.value.name}}</span>
                </td>
                <td><span>{{@variable.value.age}}</span>
                </td>
                <td><span>{{@variable.value.job}}</span>
                </td>
            </tr>
        </exp>
    </table>
    <p>什么？序号不能从0开始，好吧，难不倒我</p>
    <table>
        <tr>
            <td>序号</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>工作</td>
        </tr>
        <exp for="variable[value,index] in @listGroup.userList">
            <tr>
                <td><span>{{@variable.index + 1}}</span>
                </td>
                <td><span>{{@variable.value.name}}</span>
                </td>
                <td><span>{{@variable.value.age}}</span>
                </td>
                <td><span>{{@variable.value.job}}</span>
                </td>
            </tr>
        </exp>
    </table>
    <p>想看看这里面有没有不男不女的人</p>
    <table>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>工作</td>
        </tr>
        <exp for="variable[value] in @listGroup.userList">
            <exp if="!@variable.value.sex">
                <tr>
                    <td><span>{{@variable.value.name}}</span>
                    </td>
                    <td><span>{{@variable.value.age}}</span>
                    </td>
                    <td><span>{{@variable.value.job}}</span>
                    </td>
                </tr>
            </exp>
        </exp>
    </table>
    <p>我还想看看这些人家的亲戚</p>
    <table>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>工作</td>
            <td>亲戚</td>
            <td>注册时间</td>
        </tr>
        <exp for="variable[value] in @listGroup.userList">
            <tr>
                <td><span>{{@variable.value.name}}</span>
                </td>
                <td><span>{{@variable.value.age}}</span>
                </td>
                <td><span>{{@variable.value.job}}</span>
                </td>
                <td>
                    <exp for="child[value,index] in @variable.value.relatives">
                        <div>关系：<span>{{@child.index}}</span>名字是什么呢：<span>{{@child.value}}</span>
                        </div>
                    </exp>
                </td>
            </tr>
        </exp>
    </table>
    <p>我比较喜欢妹子，想看看她们的注册时间，当然，我只会给你提供一个时间戳，你要给我格式化好</p>
    <table>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>性别</td>
            <td>工作</td>
            <td>亲戚</td>
        </tr>
        <exp for="variable[value] in @listGroup.userList">
            <exp if="@variable.value.sex === 女">
                <tr>
                    <td><span>{{@variable.value.name}}</span>
                    </td>
                    <td><span>{{@variable.value.age}}</span>
                    </td>
                    <td><span>{{@variable.value.sex}}</span>
                    </td>
                    <td><span>{{@variable.value.job}}</span>
                    </td>
                    <td><span>{{@variable.value.registerTime->dateFormat}}</span>
                    </td>
                </tr>
            </exp>
        </exp>
    </table>
    <p>注册时间能不能只要年月，不要日？</p>
    <table>
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>性别</td>
            <td>工作</td>
            <td>亲戚</td>
        </tr>
        <exp for="variable[value] in @listGroup.userList">
            <exp if="@variable.value.sex === 女">
                <tr>
                    <td><span>{{@variable.value.name}}</span>
                    </td>
                    <td><span>{{@variable.value.age}}</span>
                    </td>
                    <td><span>{{@variable.value.sex}}</span>
                    </td>
                    <td><span>{{@variable.value.job}}</span>
                    </td>
                    <td><span>{{@variable.value.registerTime->dateFormat:[yyyy-MM]}}</span>
                    </td>
                </tr>
            </exp>
        </exp>
    </table>
	</script>
</body>

</html>
